@import '@/styles/valuable.scss';


.cardBG{
    background: url('/images/coupon/coupon-03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 180px;

    //420
    //180

    .title{
        font-size: 22px;
    }

    .font{
        font-family: "Noto Sans TC SemiBold";
        // font-size: 70px;
    }

    .discountValue{
        font-size: 50px;
    
    }

  

    .discountFont{
        font-size: 25px;
        margin-left: 5px;
    }

    .btnCTA{
        // width:auto;
        width: 108px;
        border: none;
        // display: inline-block;
        // padding: 5px 10px;
        // font-size: 16px;

        }
        
    }

    .expiraDate{
        font-size: 13px;
        // color:blue;
    }

@media screen and (max-width: 431px) {
    .cardBG {
      width: 300px;
      height: 130px;

      .font{
        font-size: 20px;
      }

      
    .discountValue{
        font-size: 35px;
    
    }


    .discountFont{
        font-size: 20px;
        // margin-left: 5px;
    }

      .btnCTA{
        font-size: 12px; 
        width: auto;  
        display: inline-block;
        padding: 2px 5px;
    }
    }
}
   
//改sweetalert手機板
// @media (max-width: 431px) {
//     .swal2-small {
//       width: 20% !important;
//       font-size: 14px !important
//     }
//   }
    



