@import "../valuable.scss";

.eventBox{
    // background-color: $light-gray;
    background: $dark-gray;
    // background: linear-gradient(180deg, rgb(25, 25, 25) 0%, rgba(112,112,112,1) 30%, rgba(124,124,124,1) 43%, rgba(113,113,113,1) 70%, rgba(19,19,19,1) 100%);
}
.calender{
    border: 1px solid $gray;
    padding: 48px 70px 100px;
    border-radius: 20px;
}
.tablestyle{
    width: 100%;
    // height: 400px;
    // background-color: rgba(255, 255, 255, 0.764);
    // border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    .tableCell {
        width: 70px; // 或其他固定的宽度
        height: 70px; // 或根据需要设置最小高度
        text-align: center;
        color: $bright-gray;
      }
    .chosenDate {
        background-color: $info;
        border-radius: 50%;
    }
    .today {
        // background-color: black;
        background-color: $red-secondary;
        color: $white;
        border-radius: 50%;
      }
    .otherday {
        transition: 0.3s;
        &:hover{
            background-color: rgba(215, 215, 215, 0.873);
            text-decoration: underline;
            text-underline-offset: 7px;
            border-radius: 50%;
            color: $primary-black;
        }
    }
    .calenderHead{
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        color: $light-gray;
        height: 70px;
    }
}

.cirleToday{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $red-secondary;
}
.cirleSelectDate{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $info;
}
.moreLink{
    color: $red-secondary;
    &:hover{
        color: $danger;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}

//modal style
.modal{
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
//   display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  visibility: hidden;
  z-index: 5; /* Sit on top */
  left: 250px;
  top: 3240px;
  width: 640px; /* Full width */
  height: 803px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $light-gray; /* Fallback color */
//   background-color: rgb(101, 101, 101); /* Black w/ opacity */
  border-radius: 20px;
  border: 1px solid $gray;
  box-shadow: 2px 2px 15px 3px rgba(37, 37, 37, 0.689);
  padding: 20px 20px;
}
.modal-show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}
.modalContent {
    margin: 20px 20px;
    .eventPicks{
        &:hover{
            opacity: 0.5;
        }
    }
    .image{
        width: 100%;
        height: 150px;
        overflow: hidden;
        .fit{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .position{
            object-position: 0px -30px;
        }
        .position2{
            object-position: 0px -70px;
        }
      }
}
.close {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    background-color: $danger;
    color: $light-gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  transition: 0.3s;
  background-color: $primary-black;
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 431px) {
    .tablestyle{
        .tableCell {
            width: 42px; // 或其他固定的宽度
            height: 42px; // 或根据需要设置最小高度
            text-align: center;
            color: $bright-gray;
          }
          .calenderHead{
            height: 60px;
        }
    }
    .calender{
        padding: 30px 30px 15px;
    }
    .modal{
        left: 15px;
        top: 6534px;
        width: 400px; 
        height: 550px; 
        background-color: $light-gray; 
    }
    .modalContent {
        margin: 5px 20px;
        .image{
            width: 100%;
            height: 100px;
            .position{
                object-position: 0px -20px;
            }
            .position2{
                object-position: 0px -30px;
            }
          }
    }
    .close {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
    }
}