@import "../valuable.scss";

.eventBox{
    // background-color: $light-gray;
    background: $dark-gray;
    // background: linear-gradient(180deg, rgb(25, 25, 25) 0%, rgba(112,112,112,1) 30%, rgba(124,124,124,1) 43%, rgba(113,113,113,1) 70%, rgba(19,19,19,1) 100%);
}
.calender{
    border: 1px solid $gray;
    padding: 48px 50px 100px;
    border-radius: 20px;
}
.tablestyle{
    width: 100%;
    // height: 400px;
    // background-color: rgba(255, 255, 255, 0.764);
    // border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    .tableCell {
        width: 70px; // 或其他固定的宽度
        height: 90px; // 或根据需要设置最小高度
        text-align: center;
        color: $bright-gray;
      }
    .chosenDate {
        background-color: $info;
        border-radius: 50%;
    }
    .today {
        // background-color: black;
        background-color: $red-secondary;
        color: $white;
        border-radius: 50%;
      }
    .otherday {
        transition: 0.3s;
        &:hover{
            background-color: rgba(215, 215, 215, 0.873);
            text-decoration: underline;
            text-underline-offset: 7px;
            border-radius: 50%;
            color: $primary-black;
        }
    }
    .calenderHead{
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        color: $light-gray;
        height: 100px;
    }
}

.cirleToday{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $red-secondary;
}
.cirleSelectDate{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $info;
}
.moreLink{
    color: $red-secondary;
    &:hover{
        color: $danger;
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}

//modal style
.modal{
//   display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 40px;
  top: 3350px;
  width: 560px; /* Full width */
  height: 400px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $light-gray; /* Fallback color */
//   background-color: rgb(101, 101, 101); /* Black w/ opacity */
  border-radius: 10px;
  border: 1px solid $gray;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 431px) {
    .tablestyle{
        .tableCell {
            width: 42px; // 或其他固定的宽度
            height: 42px; // 或根据需要设置最小高度
            text-align: center;
            color: $bright-gray;
          }
          .calenderHead{
            height: 60px;
        }
    }
    .calender{
        padding: 30px 30px 15px;
    }
}