@import "../valuable.scss";

.pIndexImg{
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: auto;
}

.pTitle{
    background-color: rgba(255, 59, 59, 0.6);
    border-radius: 0 70px 0 0;
    // filter: blur(2px);
    top: 176px;
    right: 100px;
    width: 460px;
    height: 398px;
    place-content: center;
  }
  .wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}