@import '../valuable.scss';

.card {
  margin: 0 auto;
  background-color: $primary-black;
  width: 190px;
  height: 385px;
  &:hover {
    background-color: rgb(51, 51, 51);
  }
  .card-body {
    border-radius: 0 0 5px 5px;
  }
}
.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Chover {
  &:hover {
    color: rgb(60, 200, 255) !important;
  }
}