@import '../valuable.scss';

.card {
  background-color: $primary-black;
  width: 210px;
  height: 410px;
  .card-body {
    border-radius: 0 0 5px 5px;
  }
}

.pLanguageBig {
  border: 1px solid $danger;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  h5 {
    color: $danger;
    text-align: center;
    line-height: 35px;
  }
}

.pRating {
  background-color: $yellow;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  p {
    color: $primary-black;
    text-align: center;
    line-height: 22px;
  }
}

.pRatingBig {
  background-color: $yellow;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  h5 {
    color: $primary-black;
    text-align: center;
    line-height: 35px;
  }
}
