@import '../../styles/valuable.scss';

.cardBG {
  background: url('/images/coupon/coupon-03.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 575px;
  height: 230px;

  .left {
    display: flex;
    height: 140px;
    align-items: center;
    width: 22%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;

    .couponPriceBTN {
      display: flex;
      align-items: center;

      .priceMargin {
        margin-right: 70px;
        display: flex;
        align-items: center;
      }

      .btnCTA {
        background-color: $red-secondary;
        border-radius: 50px;
        padding: 10px 20px;
        border: none;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 431px) {
  .cardBG {
    background: url('/images/coupon/coupon-03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 285px;
    height: 150px;
  }
}

// position: relative;
// border-radius: 20px; // Adjust the border-radius as needed
// overflow: hidden; // This ensures the background image stays within the borders
// color: white;
