@import '@/styles/valuable.scss';

.on {
    color: #ffd700;
  }
  
  .off {
    color: $gray;
  }
  
  .goodStyle{
    color:$danger;
  }
  
  .starBtn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }