.btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 65px;
    width: 65px;
    font-size: 50px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    .icon{
        width:100%;
        height:100%;
        object-fit:cover;
        color:#676767;
    }
    }

    @media screen and (max-width: 431px) {
        .btn{
        right: 35px;
        height: 50px;
        width: 30px;
    }
}

