@import '@/styles/valuable.scss';

@font-face {
  font-family: 'cubic 11';
  src: url('Cubic_11_1.100_R.woff') format('woff');
}

// hero背景區塊
.wrapper {
  background: #0d548b;
  padding-top: 20px;

  .banner {
    position: relative;

    .main_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title_action {
      // background: #d391ff94;
      position: absolute;
      width: 45%;
      // 高度設置在中間且距離優惠神券間距
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;


      .title_frame {
        // background: #eadb57;
        display: flex;


        .img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          animation: scaleUp 2.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
        }
      }

      .title_frame_mobile {
        display: none;
      }
    }
  }

  // Banner 加入會員button區塊
  .addMember_btn {
    // background: #17441f;
    position: absolute;
    width: 45%;
    bottom: calc(17% - 14px);
    left: 31.8%;

    .btn_frame {
      display: flex;
      justify-content: center;

      .title_CTA {
        padding: 15px 110px;
        font-size: 1.75rem;
        background-color: $white;
        color: $primary-black;
        // border: 2px solid #ccc;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      .title_CTA:hover {
        // padding: 15px 100px;
        // width: 350px;
        // height: 80px;
        background-image: linear-gradient(to right, #ff0000, #0051ba);
        color: $white;
        border-color: #ff0000;
      }
    }
  }
}

// 馬上加入會員區塊
.get_coupon_bg_frame {
  background: linear-gradient(180deg, #0d548b, $primary-black);

  .get_coupon_bg {
    // background: #bd7a7a;
    // padding-block: 90px;
    padding: 40px;
    display: grid;
    place-items: center;
    position: relative;

    .btn {
      position: absolute;
      width: 230px;
      // bottom: 27%;
      bottom: 24%;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 1.75rem;
    }
  }
}


.missionBG {
  background: url(../../public/images/coupon/galaxy-night-panorama.png);
  min-height: 495px;
  background-size: cover;

  .finalPic {
    height: 470px;
    margin-top: 10px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 431px) {
  .wrapper {
    padding-top: 50px;

    .banner {
      .title_action {
        margin-top: 0px;
        margin-top: 3px;

        .title_frame {
          display: none;
        }

        .title_frame_mobile {
          display: flex;

          .img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    // 加入會員button區塊
    .addMember_btn {
      bottom: calc(15.8%);

      .btn_frame {
        .title_CTA {
          padding: 0px 17px;
          font-size: 14px;
          border:none;
        }
      }
    }
  }

  // 馬上加入會員區塊
  .get_coupon_bg_frame {
    .get_coupon_bg {
      padding-top: 30px;
      padding-bottom: 60px;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 25px;
        bottom: 36%;
        font-size: 13px;
      }
    }
  }




  .missionBG {
    min-height: 305px;
    // margin-left: 50px;
    // padding-left: 100px;

    .missionHeader {
      font-size: 18px;
      // margin-right: 100px;
      margin: auto;
      // text-align: start;
    }

    .missionDes {
      font-size: 12px;
      // word-break: break-all;
      // flex-wrap: wrap;
      margin-right: 48px;
      text-align: start;
      // margin:auto;
      line-height: 200%;
      // margin-inline:auto;
    }

    .missionBTN {
      padding: 0.3rem 0.5rem;
      font-size: 16px;
      // background-color: ;
      margin-right: 250px;
      // margin:auto;
      // text-align: center;
    }

    // .finalPic{
    //   & img {
    //     display: none;
    //   }
    // }

  }
}



@keyframes scaleUp {
  0% {
    transform: scale(5) translateY(-700px); // Start from a larger scale
    opacity: 0;
  }

  60% {
    transform: scale(1.5) translateY(30px); // Make the "drop" more dramatic if desired
    opacity: 1;
  }

  75% {
    transform: scale(1.15) translateY(-15px); // Slightly larger before settling
  }

  90% {
    transform: scale(0.95) translateY(5px); // Slightly smaller before settling
  }

  100% {
    transform: scale(1) translateY(0); // Final desired size
  }
}