@import '@/styles/valuable.scss';

.cardBG{
    background: url('/images/coupon/coupon-03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 575px;
    height: 230px;
}

   // position: relative;
    // border-radius: 20px; // Adjust the border-radius as needed
    // overflow: hidden; // This ensures the background image stays within the borders
    // color: white; 