@import '../../../styles/valuable.scss';

.footer {
  background: $light-gray;
}
.infoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-gray;
  padding-block: 20px;
  .logoPc {
    display: block;
  }
}

.infoTextWrap {
  .infoText {
    text-decoration: none;
    color: $gray;
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.infoIcon {
  text-decoration: none;
  color: $gray;
  margin-right: 50px;
  display: inline-block;
  &:last-child {
    margin-right: 0;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
}

.logoWrap {
  display: none;
}

// 手機footer A版
@media screen and (max-width: 431px) {
  .footer {
    background: $dark-gray;
    padding-bottom: 100px;
  }
  .infoTop {
    background: $dark-gray;
    flex-direction: column;
    padding: 30px 0;

    .logoPc {
      display: none;
    }
  }
  .infoTextWrap {
    display: flex;
    font-size: 16px;
    margin-bottom: 15px;
    .infoText {
      color: $white;
    }
  }

  .infoIcon {
    color: $white;
  }

  .logoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-block: 15px;
    .logo {
      display: none;
    }
    .logoMobile {
      display: flex;
      height: 66px;
    }
  }
}
