@import '../../styles/valuable.scss';


.cardBG{
    background: url('/images/coupon/coupon-03.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 230px;

    .font{
        font-family: "Noto Sans TC SemiBold";
        font-size: 80px;
    }

    .btnCTA{
        width: auto;

        }
        
    }

    .cardBG:hover {
        // transform: scale(1.05);
       transform: translateY(-10px);
        box-shadow: 0 8px 24px rgba(0,0,0,0.2); // Add depth with shadow
        border-color: #ff4757; // Change border color for a subtle highlight effect
    
        .btnCTA {
          transform: scale(1.1);
            &::after { // Adding a fancy glowing effect to the button on hover
                content: '';
                position: absolute;
                top: -50%; 
                right: 220%;
                width: 200%; height: 200%;
                background: radial-gradient(circle, rgba(255,255,255,0.4), transparent 50%);
                animation: btnGlow 1.5s forwards;
                
                border: none;
            }
        }
    }

    @keyframes btnGlow {
        from {
            transform: scale(0.5, 0.5) translate(0, 0);
            opacity: 0.0;
        }
        to {
            transform: scale(1.5, 1.5) translate(30%, 30%);
            opacity: 1.0;
        }
    }
@media screen and (max-width: 431px) {
    .cardBG {
      width: 300px;
      height: 130px;

      .btnCTA{
        font-size: 12px; 
        width: auto;  
        display: inline-block;
        padding: 2px 5px;
    }
    }
}
   
//改sweetalert手機板
// @media (max-width: 431px) {
//     .swal2-small {
//       width: 20% !important;
//       font-size: 14px !important
//     }
//   }
    



