// 共用顏色區
@import "./valuable.scss";
@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Play:wght@400;700&display=swap';

// #__next {
//   flex-direction: column;
//   height: 100%;
//   display: flex;
// }

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  background-color: $primary-black;
  font-family: 'Noto Sans TC Regular', Helvetica, Arial, 'PingFang TC','Play',
    '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
    // Cross-platform generic font family (default user interface font)
    system-ui,
    // Safari for macOS and iOS (San Francisco)
    -apple-system,
    // Windows
    'Segoe UI',
    // Android
    Roboto,
    // Sans serif fallback
    sans-serif,
    // Emoji fonts
    'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0;
}

// 如果要粗體請自行覆蓋line-height 或直接加 <b>
h1, .h1{font-size: 72px;line-height: 80px;}
h2, .h2{font-size: 48px;font-weight: 400;}
h3, .h3{font-size: 36px;font-weight: 400;}
h4, .h4{font-size: 28px;font-weight: 400;line-height: 42px;}
h5, .h5{font-size: 20px;font-weight: 400;line-height: 30px;}
h6, .h6{font-size: 16px;font-weight: 400;line-height: 24px;}
p, .p{font-size: 12px;font-weight: 400;line-height: 18px;}

// page
.pagination{
  .page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 5px;
    border: 1px solid $light-gray;
  }
  .page-link {
    color: $light-gray; 
    background-color: $primary-black; 
    border: none;
} 
.pagination .page-item.active .page-link {
  color: #ffffff;
  background-color: #3a3a3a; 
 }
}
.page-item:not(:first-child) .page-link{
  margin-left: 0;
  border-radius: 5px;
}

// button
.btn{
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-sm{
  border-radius: 50px;
  padding: 4px 14px;
}

// 商品slider
.product-images-slider{
  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  .swiper-button-prev{
    // padding: 10px;
      left: 0;
      color: #ffffff6a;
      &:hover{
        color: #ffffff;
      }
  }
  .swiper-button-next{
      right: 0;
      color: #ffffff6a;
      &:hover{
        color: #ffffff;
      }
  }
}

.product-images-slider-thumb{
  .swiper-slide{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    border-radius: 5px;
    border:2px solid rgb(102, 102, 102);
    &-thumb-active{
      border-color: rgb(255, 255, 255);
    }
    &:hover{
      background-color: #535353;
      border: 5px solid #535353;
    }
  }
  &-wrapper{
    padding-top: 100%;
    overflow: hidden;
  }
}










// body {
//   background: var(--bg);
// }

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

// .swiper-slide img {
//   width: 37rem;
//   height: 42rem;
//   border-radius: 2rem;
//   object-fit: cover;
// }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}