@import './valuable.scss';

.sec1 {
    height: 100vh;
    position: relative;
  }
  .headTitleCard {
    top: calc(70px + 10vh);
    left: 120px;
    width: 33vw;
    height: 70vh;
    background: linear-gradient(to bottom, #ff3c3c7c 0%, #4b69ff78 100%);
    border-top-right-radius: 12%;
    padding: 50px;
}

.sec2 {
  background: linear-gradient(180deg, $gray, $dark-gray, $primary-black);
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 150px 0px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;

  .weeklySelect {
    display: flex;
    position: absolute;
    width: 140vw;
    height: auto;
    // overflow: hidden;

    .img {
      width: 100%;
      height: auto;
      border: 0;
      line-height: 0;
      vertical-align: bottom;
    }
  }

  .top {
    left: 0;
    top: 20px;

    &:first-child {
      animation: loop 50s -25s linear infinite;
    }

    &:last-child {
      animation: loop 50s -25s linear infinite;
    }
  }

  .bottom {
    right: 0;
    bottom: 0;

    &:first-child {
      animation: loop2 50s -25s linear infinite;
    }

    &:last-child {
      animation: loop2 50s -25s linear infinite;
    }
  }
}

.cardFrame {
  width: 92%;
  margin: auto;

  .cardBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;

    .cardLink {
      display: block;
      text-decoration: none;
      background: transparent;
      cursor: pointer;
      margin: 0 1.5rem;
      box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.25);
      //   width: 20vw;
      color: $white;

      &:hover {
        transform: scale(1.05);
      }

      .card {
        // background: transparent;
        // padding: 1.5rem;
        // border-radius: 1rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 5rem 0.4rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        perspective: 1000px;
        transform: translate(0px, 0px);

        .ura {
          width: 100%;
          height: 100%;
          // background: $primary-black;
          padding: 1.5rem;
          position: absolute;
          left: 0;
          top: 0;
          // z-index: 10;
          color: $white;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          backface-visibility: hidden;
          transform: rotateY(180deg);
          box-shadow: none;

          .title {
            margin-bottom: 20px;
          }

          .description {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
          }

          .more {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            color: $red-secondary;

            &:hover {
              color: $danger;
            }
          }
        }

        .ura::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $primary-black;
          background-size: cover;
          opacity: 0.9;
          backdrop-filter: blur(20px);
          z-index: -1;
        }

        .inner {
          transition: transform 0.8s;
          transform-style: preserve-3d;
          backface-visibility: hidden;

          .img {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            &img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .card .inner.isFlipped {
        /* 翻轉正面，使其不可見 */
        transform: rotateY(180deg);
      }

      .card .ura.isFlipped {
        /* 使背面可見 */
        transform: rotateY(0deg);
      }
    }
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 431px) {
  .sec2 {
    padding: 70px 0px 70px;
  }
  .cardFrame {
    width: 92%;
    margin: auto;

    .cardBody {
      .cardLink {
        margin: 1.5rem 0;
      }
    }
  }
}
