$danger:#e41e49;
$info:#0068f0;
$primary-black:#161719;
$white:#FFFFFF;
$red-secondary:#ED5260;
$dark-gray:#2D2D2D;
$blue-secondary:#43B0FF;
$gray:#676767;
$light-gray:#C4C4C4;
$yellow:#FFE03B;
$bright-gray:#E3E3E3;
