@import '@/styles/valuable.scss';


.cardBG{
    background: url('/images/coupon/couponFreeShipBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 440px;
    height: 180px;

    .font{
        font-family: "Noto Sans TC SemiBold";
        font-size: 50px;
    }

    .discountValue{
        font-size: 60px;
    }

    .discountFont{
        font-size: 50px;
    }

    .btnCTA{
        width:auto;
        border: none;
        // border-radius: ;
        // width: 150px;
        // display: inline-block;
        // padding: 5px 10px;
        // font-size: 16px;

        }
        
    }

    .expiraDate{
        color:$white;
        font-size: 13px;
        text-align:start ;
    }


@media screen and (max-width: 431px) {
    .cardBG {
      width: 300px;
      height: 115px;

      .btnCTA{
        font-size: 12px; 
        width: auto;  
        display: inline-block;
        padding: 2px 5px;
    }
    }
}
   
//改sweetalert手機板
// @media (max-width: 431px) {
//     .swal2-small {
//       width: 20% !important;
//       font-size: 14px !important
//     }
//   }
    



