@import '../valuable.scss';

.lisc_btn {
  color: $white;
  margin-left: auto;
  margin-right: 20px;


  .lisc_text {
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: $red-secondary;
    color: $white;

    &:hover {
      background-color: rgba(255, 0, 0, 0.774);
    }
  }

  .liscr_text {
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: $blue-secondary;
    color: $white;

    &:hover {
      background-color: $info;
    }
  }
}

.line {
  margin: auto;
  width: 90%;
  padding-block: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
}

.dropdown {
  margin-left: auto;
  padding-right: 10px;
  padding-bottom: 10px;
}

.page_check {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

  .pagep_btn {
    padding: 5px 80px;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana;
    letter-spacing: 4px;
    text-decoration: none;
    color: $red-secondary;
    cursor: default;
    border-bottom: 2px solid $red-secondary;
  }

  /* .pages_btn {
    padding: 10px 70px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: $white;
    transition: 0.5s;

    &:hover{
        color: $red-secondary;
        background-image: linear-gradient(to right, $red-secondary, $red-secondary);
        background-position: 0% 100%;
        background-size: 100% 1px;
        background-repeat: no-repeat;
    }
  } */
}

.pages_btn {
  transform: translate(1%, 5%);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: $gray;
  font-size: 20px;
  font-family: verdana;
  letter-spacing: 4px;
  padding-inline: 80px;
  padding-block: 5px;
  transition: 0.5s;


  &:hover {
    color: $red-secondary;
  }

  &::before,
  &::after,
  span::before,
  span::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: 1s;
    width: 0;
    height: 0;

  }

  &::before {
    top: -2px;
    left: -2px;
    /* border-top: 2px solid $red-secondary;
      border-left: 2px solid $red-secondary; */
  }

  &::after {
    top: -2px;
    right: -2px;
    /* border-top: 2px solid $red-secondary;
      border-right: 2px solid $red-secondary; */
  }

  span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid $red-secondary;
    /* border-left: 2px solid $red-secondary; */
  }

  span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid $red-secondary;
    /* border-right: 2px solid $red-secondary; */
  }

  &:hover::before,
  &:hover::after,
  &:hover span::before,
  &:hover span::after {
    width: calc(240px / 2);
    height: calc(60px / 2);
  }
}

.card {
  padding: 5px;
  padding-top: 20px;
  background-color: $white;
  width: 275px;
  height: 430px;
  transition: 0.4s;

  &:hover {
    background-color: $light-gray;
  }
}

@media (max-width: 430px) {
  .page_check {
    width: 350px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  
    .pagep_btn {
      padding: 5px 30px;
    }
  
    /* .pages_btn {
      padding: 10px 70px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: $white;
      transition: 0.5s;
  
      &:hover{
          color: $red-secondary;
          background-image: linear-gradient(to right, $red-secondary, $red-secondary);
          background-position: 0% 100%;
          background-size: 100% 1px;
          background-repeat: no-repeat;
      }
    } */
  }
  
  .pages_btn {
    padding-inline: 30px;
  
  
    &:hover {
      color: $red-secondary;
    }
  
    &::before,
    &::after,
    span::before,
    span::after {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: transparent;
      transition: 1s;
      width: 0;
      height: 0;
  
    }
  
    &::before {
      top: -2px;
      left: -2px;
      /* border-top: 2px solid $red-secondary;
        border-left: 2px solid $red-secondary; */
    }
  
    &::after {
      top: -2px;
      right: -2px;
      /* border-top: 2px solid $red-secondary;
        border-right: 2px solid $red-secondary; */
    }
  
    span::before {
      bottom: -2px;
      left: -2px;
      border-bottom: 2px solid $red-secondary;
      /* border-left: 2px solid $red-secondary; */
    }
  
    span::after {
      bottom: -2px;
      right: -2px;
      border-bottom: 2px solid $red-secondary;
      /* border-right: 2px solid $red-secondary; */
    }
  
    &:hover::before,
    &:hover::after,
    &:hover span::before,
    &:hover span::after {
      width: calc(140px / 2);
      height: calc(60px / 2);
    }
  }
  
  .card {
    padding: 0;
    padding-top: 20px;
    background-color: $white;
    margin-inline: 10px !important;
    width: 182px;
    height: 430px;
    transition: 0.4s;
  
    &:hover {
      background-color: $light-gray;
    }
  }
}