@import "../valuable.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// main carousel
.carousel {
    width: 100vw;
    height: 100vh;
}
.fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

// typeslider

.App {
  width: 50%;
  margin: 50px auto;
  height: 500px;
}

.slide img {
//   width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: relative;
  font-size: 40px;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
  
// swiper

/* body {
  background-color: #000000;
} */
.main {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  margin-top: 10%;
}

.mySwiper {
  width: 80%;
}

.swiper-slide {
  width: 200px;
  background-color: transparent;
  border-radius: 10px;
  background-size: cover;
  /* border: 1px solid white; */
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  /* background-image: url(./assets/slideBG.png); */
  color: #ffffff;
}
.testimonials-profile-circle {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.testimonial-avatar {
  width: 100px;
  height: 100px;
  border: 3px solid #1d8ba0;
  border-radius: 50%;
}
.review-by {
  color: #1d8ba0;
  font-size: 18px;
}
.head {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}
.head-p {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  border: 2px solid #1d8ba0 !important;
  /* padding: 1px !important; */
  border-radius: 1px !important;
  /* padding-left: 5px !important; */
  width: 30px !important;
  height: 1px !important;
  /* padding-right: 5px !important; */
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  border: 2px solid #1d8ba0 !important;
  /* padding: 1px !important; */
  border-radius: 1px !important;
  /* padding-left: 5px !important; */
  width: 30px !important;
  height: 1px !important;
  /* padding-right: 5px !important; */
}

//

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  background-color: #01000c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: #fff;
  font-size: 55px;
  margin: 80px 0;
} */
.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
}


.slider{
  margin: auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slidebox{
  margin: auto;
  width: 420px;
  height: 250px;
  padding-inline:10px ;
  margin-block:20px ;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  
}
.slitext{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: $white;
  position: absolute;
  top: 80%;
  letter-spacing: 3px;
  font-size: 30px;
  right: 14%;
  text-shadow:2px 2px 2px #321fdb;
}