@import '@/styles/valuable.scss';

// size
$sortbar-width: 220px;
$sortbar-height: 60px;
$sortbar-width-rwd: 200px;
$sortbar-height-rwd: 50px;

//link-style
.linkstyle {
  margin: 0;
  text-decoration: none;
}

//size
.iconsmall {
  width: 12px;
}

// seller-bg
.bodyStyleA {
  background-color: $dark-gray;
  color: $white;
}

// shop-bg
.bodyStyleB {
  background-color: $primary-black;
  color: $white;
}

.cover {
  height: 330px;
  // width: 100vw;
  overflow: hidden;

  .fit {
    width: 100%;
    object-fit: cover;
  }
}

.coverB {
  height: 216px;
  // width: 100vw;
  overflow: hidden;

  .fit {
    width: 100%;
    object-fit: cover;
    object-position: 0px -150px;
  }
}

.detailTitle {
  margin: 0;
  padding-inline: 40px;
  padding-bottom: 15px;
}

.textarea {
  width: 546px;
  padding-inline: 40px;
  margin: 0;
}

//sortbar
.sortbarStyle {
  display: flex;
  justify-content: flex-start;

  .sortbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sortbar-width;
    height: $sortbar-height;
    color: $white;
    text-decoration: none;
    text-align: center;

    &:hover {
      border-bottom: solid 1px $white;
    }

    &.active {
      background-color: $gray;
    }
  }

  .list {
    margin: 0;
  }
}

//coupon
.coupon {
  padding-block: 32px;
}

.coupontitle {
  width: 317px;
}

.title {
  color: $white;
}

.subtitle {
  color: $light-gray;
}

//dateSelect
.dateSelect {
  .btnDate {
    background-color: $dark-gray;
    color: $white;
    border: solid 1px $light-gray;
    border-radius: 5px;
    // &:hover {
    //   background-color: $danger;
    //   color: $white;
    //   border: solid 1px $white;
    // }
  }

  .dateInput {
    // background-color: $dark-gray;
    // color: $white;
    border: solid 1px $light-gray;
    // &:hover{
    //     background-color: $gray;
    //     color: $white;
    //     border: solid 1px $white;
    // }
  }
}

//searchbar B
.searchbarB {
  width: 400px;
}

.btnSearch {
  background-color: $red-secondary;
  color: $white;
  border: solid 1px $white;
  border-radius: 5px;

  &:hover {
    background-color: $danger;
    color: $white;
    border: solid 1px $white;
  }
}

.searchInput {
  background-color: $dark-gray;
  color: $white;
  border: solid 1px $white;
  // &:hover{
  //     background-color: $gray;
  //     color: $white;
  //     border: solid 1px $white;
  // }
}

.searchInput::placeholder {
  color: $light-gray;
  font-size: 16px;
}

//hit
.hit {
  margin-block: 61px;

  .scroller {
    display: flex;
  }
}

//offcanvas
.offcanvas {
  background-color: $dark-gray;
  color: $white;
}

// .closeButton{
//     color: $white !important; // 使用 !important 確保覆蓋預設樣式
// }
.offcanvasBtn {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50rem;
  height: 41px;

  &:hover {
    background-color: $gray;
    color: $white;
    border: 1px solid $white;
  }

  &:active {
    background-color: $gray !important;
    color: $white;
    border: 1px solid $white !important;
  }

  &:focus {
    background-color: $gray !important;
    color: $white;
    border: 1px solid $white !important;
  }
}

/* RankingsButton */
.rankingBtn {
  color: $gray;
  background-color: transparent;
  border: 1px solid $gray;
  border-radius: 50rem;
  height: 41px;

  &:hover {
    /* background-color: $gray; */
    color: $white;
    border: 1px solid $gray;

    .textColor {
      color: $white;
    }
  }
}

.statusBtn {
  color: $danger;
  background-color: transparent;
  border: 1px solid $danger;
  border-radius: 50rem;
  height: 41px;

  &:hover {
    /* background-color: $gray; */
    color: $white;
    border: 1px solid $gray;

    .textColor {
      color: $white;
    }
  }
}

@media (max-width: 430px) {
  .rankingBtn {
    width: 100%;
  }
}

/* toggle sort */
.togglebtn {
  color: $white;
  border: none;
  width: 85%;
  border-radius: 0;
  border-bottom: 1px solid $gray;
  padding: 15px;

  &:hover {
    border-bottom: 1px solid $white;
  }
}

.selectBtn {
  width: 100%;
  margin-top: 50px;
}

//sidebar
.sidebar {
  width: 268px;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100svh; //扣掉nav高度
  background-color: $gray;

  .navLink {
    height: 47px;

    .navText {
      color: $white;
    }

    &:hover {
      background-color: $light-gray;

      .navText {
        color: $danger;
      }
    }
  }
}

.sidebarRWD {
  .navLink {
    height: 60px;
    border-bottom: 0.5px solid $gray;
    border-radius: 0px;

    .navText {
      color: $white;
    }

    &:hover {
      background-color: $light-gray;

      .navText {
        color: $danger;
      }
    }
  }
}

.sellerprofile {
  margin-top: 100px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 20px;

  // margin-right: 48px;
  .fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//seller dashboard
.dashboardMargin {
  padding: 30px 115px 0px 383px;
}

.dashboardStyle {
  padding: 40px 50px;
  background-color: $white;
  border-radius: 20px;
}

.mainContainer {
  margin-top: 58px;
}

.bodySetHeight {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.outsideHeight {
  max-height: 100vh;
  overflow: hidden;
}

.cover {
  margin-top: 55px;
  height: 185px;
}

.coverB {
  margin-top: 55px;
  height: 91px;

  .fit {
    height: 91px;
    object-position: 0px -50px;
  }
}

.profile {
  width: 180px;
  height: 180px;

  .fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.sortbarStyle {
  text-align: left;
  width: 100%;
  height: $sortbar-height-rwd;
  overflow-x: scroll;
  display: flex;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;

  .sortbar {
    flex: 0 0 $sortbar-width-rwd;
    height: $sortbar-height-rwd;
    width: $sortbar-width-rwd;
    background-color: $dark-gray;
    scroll-snap-align: end;
  }

  //hit
  .hit {
    margin-block: 61px;

    .scroller {
      text-align: left;
      width: 100%;
      height: 460px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      .insideScr {
        flex: 0 0 210px;
        width: 210px;
      }
    }
  }

  .mainContainer {
    margin-top: 50px;
  }

  .offcanvasBtn {
    background-color: $gray;
    color: $white;
    border: none;
    border-radius: 50rem;
    height: 25px;
  }
}

.seller_frame {
  width: 90%;
  border-bottom: 1px solid $light-gray;

  .sellers {
    width: 100%;
    padding-block: 20px;
  }
}

@media screen and (max-width: 430px) {
  .seller_frame {
    width: 430px;
    border-bottom: 1px solid $light-gray;

    .seller_xs {
      width: 100%;
      padding-inline: 10px;

      .profile {
        padding-left: 15px !important;
        margin-inline-end: 0 !important;
        margin-top: 10px;
        min-width: 80px;
        max-height: 80px;
        border-radius: 20px;
      }

      .sellers {
        width: 100%;
        padding: 25px 30px 0 50px;
      }
    }
  }

  .h4text_xs {
    width: fit-content;
    padding: 0 !important;
    padding-inline: 3px !important;
    font-size: 16px;
  }

  .h6text_xs {
    width: fit-content;
    max-height: 25px;
    padding: 3px !important;
    font-size: 14px;
    padding-inline: 0px !important;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
  }

  .column {
    width: 150px;
    display: flex;
    flex-direction: column !important;
    padding: 0 !important;
  }

  .padding_xs {
    padding: 0 !important;
  }

  .wid_xs {
    width: 150px;
    margin: 0;
  }
  .cancle_xs {
    position: absolute;
    width: 130px;
    font-size: 14px;
    left: 5%;
  }
  .profile {
    padding: 0 !important;
    margin-inline: 9px !important;
    margin-top: 10px;
    min-width: 70px;
    max-height: 70px;
    border-radius: 20px;
    margin: auto;
    align-self: center;
  }
}
