.img_frame {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-width: 6px;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  
  .img_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
