@import '../valuable.scss';



.bodybg {
  background: linear-gradient(rgba(147, 154, 175, 0.5), rgba(27, 26, 26, 0.5)),
    url('/images/member/signinbg.jpg') center/cover no-repeat;
  width: 100%;
  height: 100vh;

  .sign_body {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    overflow: hidden;

    .in_togglebtn {
      text-align: center;
      padding-block: 5px;
      color: $white;
      font-size: 20px;
      text-decoration: none;
      width: calc(490px / 2);
      border-radius: 0;
      background-color: $red-secondary;
      cursor: default;
      border: none;
    }

    .up_togglebtn {
      padding-block: 5px;
      text-align: center;
      color: $white;
      font-size: 20px;
      text-decoration: none;
      width: calc(480px / 2);
      border-radius: 0;
      background-color: $info;
      opacity: 0.3;
      transition: 0.3s;
      border: none;
      &:hover {
        opacity: 1;
      }
    }

    .spe_text {
      margin-top: 20px;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: $white;
      text-shadow: 0 1px 2px $dark-gray;
    }
  }
}

.sign_btn {
  color: $primary-black;
  border: 2px solid $danger;
  background: $white;
  box-shadow: 0px 0px 10px 5px rgba(247, 39, 58, 0.25);
  font-weight: bold;

  &:hover {
    font-weight: bold;
    color: $primary-black;
    border: 2px solid $danger;
    background: $light-gray;
    box-shadow: 0px 0px 10px 5px rgba(247, 39, 58, 0.25);
  }
  &:active {
    border: 2px solid $danger !important;
    background: $red-secondary!important;
  }
}
.sign_link {
  text-decoration: none;
  color: $info;
}
.text_input {
  width: 330px;
}
.error {
  height: 20px;
  color: $danger;
  padding: 0;
  margin: 0;
}

.error_text {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 430px) {
  .sign_body {
    width: 390px;

    .in_togglebtn {
      padding-block: 5px;
      width: calc(390px / 2) !important;
      text-align: center;
    }

    .up_togglebtn {
      width: calc(390px / 2) !important;
    }
  }
  .input {
    width: 100px !important;
  }
  .wid_xs {
    width: 100%;
    padding-inline: 0 !important;

    .sign_btn {
      margin-right: 5px !important;
    }
  }
}
